# Tmp folder
tmp

# Frontend packages
bower_components

# Node packages
node_modules

# credentials
*credentials.js

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot
credentials.py
