html, body {
  height: 100%;
}

.fixed {
  margin-top: 64px;
}

nav {
  background-color: #263238;
}
.nav-wrapper {
  margin-left: 10px;
  margin-right: 10px;
}

#map {
  position: absolute;
  width: 100%;
  top: 64px;
  bottom: 0px;
  background: #CDD2D4;
}

.buttons {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.buttons a {
  margin: 1em;
}

.progress {
  position: absolute;
  bottom: -14px;
}

.picker {
  position: absolute;
  top: 20px;
}

.tabs .tab a {
  color: #009688;
}

.tabs .tab a:hover {
  color: #B2DFDB;
}

.tabs .indicator {
  background-color: #009688;
}
