html, body {
  height: 100%;
  background-color: black;
}

.fixed {
  margin-top: 64px;
}

nav {
  background-color: #263238;
}
.brand-logo {
  margin-left: 10px;
}

#map {
  position: absolute;
  width: 100%;
  top: 64px;
  bottom: 0px;
  background: #242426;
}
